* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
}

#clock {
    margin-top:25%;
    text-align: center;
    color: white;
    font-family: 'Lato', Helvetiva, Arial, sans-serif;
    font-size: 5em;
    letter-spacing: .25em;
    font-weight: 300;
}
